<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_urdf">

  <link name="world"/> 
  <joint name="base_joint" type="fixed"> 
    <parent link="world"/> 
    <child link="base_link"/> 
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> 
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="7.8939E-09 -0.0339 0.096614"
        rpy="0 0 0" />
      <mass
        value="18.511" />
      <inertia
        ixx="0.39704"
        ixy="2.2189E-08"
        ixz="5.8978E-08"
        iyy="0.31428"
        iyz="0.038846"
        izz="0.45263" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0025874 2.8547E-09 0.21313"
        rpy="0 0 0" />
      <mass
        value="14.531" />
      <inertia
        ixx="0.28147"
        ixy="-5.7151E-09"
        ixz="0.0057082"
        iyy="0.30849"
        iyz="-4.585E-09"
        izz="0.10991" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0 0.16"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.17998 -0.0091492 -2.584E-11"
        rpy="0 0 0" />
      <mass
        value="13.333" />
      <inertia
        ixx="0.14585"
        ixy="0.027265"
        ixz="1.0901E-10"
        iyy="0.68081"
        iyz="5.3211E-11"
        izz="0.59354" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="-0.0077226 0 0.336"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.11996 -0.13264 7.2074E-10"
        rpy="0 0 0" />
      <mass
        value="11.891" />
      <inertia
        ixx="0.32103"
        ixy="0.038118"
        ixz="-8.0115E-10"
        iyy="0.074071"
        iyz="2.4488E-10"
        izz="0.35264" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.49936 -0.025384 0"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="300"
      velocity="3" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="2.5601E-11 -0.018265 1.014E-07"
        rpy="0 0 0" />
      <mass
        value="1.1219" />
      <inertia
        ixx="0.0054371"
        ixy="-2.9136E-09"
        ixz="-2.7465E-09"
        iyy="0.0021242"
        iyz="1.6913E-09"
        izz="0.005947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_urdf/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="0.14365 -0.41771 0"
      rpy="0 0 -1.5708" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="300"
      velocity="3" />
  </joint>

</robot>